
---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>About Jerin Sits</h1>


	<p>
		Jerin is a portmanteau of Jeff and Erin.  We don't love it, and don't really use it, but I guess it's kinda catchy.  Credit to our old roomate Kyle for first usage.
	</p>

	<p>
		Jerin Sits was born out of our love for travel and pets - it's a great way for us to visit new places and make new animal friends.
	</p>

	<p>
		Erin is a PhD researcher (sociologist, by training) at a prominent university. Her family raised seeing eye dogs so she's got a soft spot for german shepards. Jeff is a product manager at a software company you've probably heard of. He grew up with golden retreivers and claims his childhood dog Toby is "the best dog that ever existed".
	</p>
	<p>
    	We've been pet sitting as a collective Jerin on/off for 20+ years.  Our first gig was in Mendham, NJ, where we enjoyed getting to know <a href="/blog/jake-and-snoop/">Jake and Snoop</a>, a golden retriever and basset hound pair. Since then we've house / pet sat for family and friends, mostly up and down the eastern US.
	</p>

	<p>
		We've had pets of our own and know how impotant it is find someone you can trust to take care of your pets so you can enjoy your trip; we'd love to be those people, for you.
	</p>
    
	<p>
		&nbsp;
	</p>
   
		</main>
		<Footer />
	</body>
</html>

