---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Jerin Sits"
	description="Jerin Sits is a pet sitting service by Jeff and Erin."
	pubDate={new Date('October 2025')}
>
	<p>
		Jerin is a portmanteau of Jeff and Erin.  We don't love it, and don't really use it, but I guess it's kinda catchy.  Credit to our old roomate Kyle for first usage.
	</p>

	<p>
    	We've been sitting on/off for 20+ years.  Our first gig was in Mendham, NJ, where we enjoyed getting to know <a href="/blog/jake-and-snoop/">Jake and Snoop</a>, a golden retriever and basset hound pair. Since then we've house / pet sat for family and friends all over the US.
	</p>

	<p>
		Jerin Sits was born out of our love for travel and pets - it's a great way for us to visit new places and make new furry friends.
	</p>

	<p>
		We've had pets of our own and know how impotant it is find someone you can trust to take care of your pets so you can enjoy your trip; we'd love to be those people, for you.
	</p>
    
	<p>
		Heading out town, but can't bring your four legged bestie?  We'd love to keep them company (and water your plants, take out the trash, and so on).
	</p>

	<p>
		<a href="https://forms.gle/znvkBdMJNMRyrGaf6" target="_new">Give us a shout!</a>
	</p>

	<p>
		&nbsp;
	</p>


</Layout>
