---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Jerin Sits"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 15 2025')}
>
	<p>
		Jerin is a portmanteau of Jeff and Erin.  We don't love it, and don't really use it, but I guess it's kinda cathy.  Credit to our old roomate Kyle for first usage).
	</p>

	<p>
    	We've been sitting on/off for 20+ years.  Our first gig was in Mendham, NJ, where we enjoyed getting to know Jake and Snoop, a golden retriever and basset hound pair. Since then we've house / pet sat for family and friends all of the US.
	</p>

	<p>
		Jerin Sits was born out of our love for travel and pets - it's a great way for us to see new places and make new furry friends.
	</p>
    
	<p>
		Heading out town, but can't bring your four legged bestie?  We'd love to keep them company (and water your plants, take out the trash, and so on).
	</p>

	<p>
		Give us a shout!
	</p>

</Layout>
