---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Jerin Sits"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Jerin is a portmanteau of Jeff and Erin (credit to our old roomate Kyle for first usage).
	</p>

	<p>
		Jerin Sits was born out of our love for travel and pets.
	</p>

	<p>
		Heading out town, but can't bring your four legged bestie?  We'd love to keep them company (and water your plants, take out the trash, and so on.)
	</p>

	<p>
		Give us a shout!
	</p>

</Layout>
