---
import Layout from '../layouts/BlogPost.astro';
import { Accordion, AccordionItem } from 'accessible-astro-components'
---

<Layout
	title="Frequently Asked Questions"
	description="Frequently asked questions about Jerin Sits"
		pubDate={new Date('August 25 2021')}

>

    <Accordion>
    <AccordionItem
        name="whoareyou"
        title="Who are you guys, anyway?"
        open
    >
        <p>Astro is an all-in-one web framework for building fast, content-focused websites.</p>
    </AccordionItem>


    <AccordionItem
        name="howmuchdoyoucharge"
        title="How much do you charge?"
    >
        <p>It depends on the pet/house situation, time of year, our schedules, etc, but in general we shoot for "a little less than the going rate".</p>
    </AccordionItem>
    </Accordion>
	

    <AccordionItem
        name="areyouresponsible"
        title="Are you responsible? Can I entrust you with Flully, Spot and my house?"
    >
        <p>We are about as responsible as you can get, without being completly boring. We're both in our early forties and have been pet owners/lovers our entire lives, and home owners for the past 13+ years. Between the two of us, our average credit score is ~835.</p>
    </AccordionItem>
    </Accordion>

    <AccordionItem
        name="howdoigetintouch"
        title="How do I get in touch with you?"
    >
        <p>The internet strongly recommended we don't directly post our contact info, so kindly request you inquire via <a href="https://forms.gle/znvkBdMJNMRyrGaf6" target="_new">this Google form</a> and we'll reach out asap.</p>
    </AccordionItem>
    </Accordion>

	<p>
		
	</p>

</Layout>
