
---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { Accordion, AccordionItem } from 'accessible-astro-components'
---

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Frequently Asked Questions</h1>

    <Accordion>
		
    <AccordionItem
        name="whatservicesdoyouoffer"
        title="What services do you offer? Dog walking? Boarding? Sitting? Grooming?"
    >
        <p>We offer pet sitting, in your home.</p>
        <p>Of course if your pet is a dog, we look forward to walking them while you're gone. If your cat is leashed trained I suppose we could walk them too.</p>
		<p>Also happy to bring in the mail, water the plants, burp your kimchi, and probably just about anything.</p>
    </AccordionItem>

    <AccordionItem
        name="howmuchdoyoucharge"
        title="How much do you charge for pet sitting?"
    >
        <p>It depends on the pet/house situation, time of year, our schedules, etc, but in general we shoot for "a little less than the going rate".</p>
		<p><img src="/img/rates.png"></p>
    </AccordionItem>

    <AccordionItem
        name="areyouresponsible"
        title="Are you responsible? Can I entrust you with Fluffy, Spot and my house?"
    >
        <p>We are about as responsible as you can get, without being <i>completely</i> boring. </p>
		<p>We're both in our early forties and between the two of us, our average credit score is ~835. We've been pet owners/lovers our entire lives, and home owners for the past 13+ years.</p>
        <p>Jeff is also an accomplished handyman (like once built a house) so it's likely that if anything comes up, he can at least triage it, and maybe just get it sorted. </p>
    </AccordionItem>

    <AccordionItem
        name="howaboutspecialneeds"
        title="My pet requries special care (eg medicine), can you handle that?"
    >
        <p>Probably.  We both have a good bit of experience taking care of very young pets (puppies, kittens), very old elderly / senior pets and administering medication. Administering pills and drops to dogs and cats should be no prolem, however IV medication is probably beyond what we'd be comfortable taking on.</p>
        <p></p>
    </AccordionItem>

	
   </Accordion>

		</main>
		<Footer />
	</body>
</html>
