---
import Layout from '../layouts/BlogPost.astro';
import { Accordion, AccordionItem } from 'accessible-astro-components'
---

<Layout
	title="Frequently Asked Questions"
	description="Frequently asked questions about Jerin Sits"
		pubDate={new Date('August 25 2021')}

>

    <Accordion>
    <AccordionItem
        name="astro"
        title="What is Astro?"
        open
    >
        <p>Astro is an all-in-one web framework for building fast, content-focused websites.</p>
    </AccordionItem>
    <AccordionItem
        name="astro"
        title="Why Astro?"
    >
        <p>Ship less JavaScript to your users while maintaining a modern developer experience.</p>
    </AccordionItem>
    </Accordion>
	<p>
		How much do you charge?
	</p>

	<p>
    	Who are you, anyway? 
	</p>

	<p>
		Jerin Sits was born out of our love for travel and pets - it's a great way for us to visit new places and make new furry friends.
	</p>

	<p>
		We've had pets of our own and know how impotant it is find someone you can trust to take care of your pets so you can enjoy your trip; we'd love to be those people, for you.
	</p>
    
	<p>
		Heading out town, but can't bring your four legged bestie?  We'd love to keep them company (and water your plants, take out the trash, and so on).
	</p>a

	<p>
		<a href="https://forms.gle/znvkBdMJNMRyrGaf6" target="_new">Give us a shout!</a>
	</p>

	<p>
		&nbsp;
	</p>


</Layout>
