---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={JerinSits} description={Jeff and Erin, amaetuer sitters} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Jerin Sits</h1>
			<p>
				Jerin = Jeff + Erin
			</p>
			<p>
				Things we sit = houses, pets, children<sup>*</sup>
			</p>
			<p>
				<sup>*</sup><i>Generally limited to family, close friends</i>
			</p>
		</main>
		<Footer />
	</body>
</html>
