---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<img src="/img/erin-with-dogs.png">
			<h1>Jerin Sits</h1>
			<p>
				Jerin = Jeff + Erin
			</p>
			<p>
				Sitting = pets<sup>*</sup> in houses
			</p>
			<p>
				<div style="font-size:medium"><sup>*</sup><i>Occasionally children too, limited to family and close friends</i></div>
			</p>
		</main>
		<Footer />
	</body>
</html>
